.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include md {
    gap: 2rem;
    flex-direction: row;
  }

  @include lg {
    gap: 3rem;
  }

  &__text {
    width: 315px;

    &--logo {
      background-color: $colorWhite;
      border-radius: 100vw;
      width: 200px;
    }

    @include lg {
      width: 500px;
    }
    &--title {
      margin-block-start: 1rem;
      font-size: 2.5rem;
      font-weight: 800;
      background: -webkit-linear-gradient($gradientMain);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include lg {
        font-size: 4rem;
      }
    }

    &--secondaryTitle {
      color: $colorDark;
      font-size: 1.25rem;
      font-weight: 400;

      @include lg {
        font-size: 1.75rem;
      }
    }

    &--orderButton {
      margin-block-start: 1rem;
      padding: 1rem 2rem;

      @include lg {
        font-size: 1.25rem;
        margin-block-start: 1rem;
        padding: 1.5rem 3rem;
      }
    }
  }

  &__images {
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    grid-template-areas:
      "long long"
      "small small2";

    @include lg {
      grid-template-columns: repeat(2, 200px);
      grid-template-rows: repeat(2, 200px);
    }

    .heroImage {
      background-color: $colorWhite;
      border-radius: 2rem;

      @include lg {
        border-radius: 3rem;
      }
    }

    &--long {
      grid-area: long;
      background-image: url(../../assets/images/products/plyta.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
      position: relative;

      &:hover::after {
        display: grid;
        place-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        border-radius: 2rem;
        background-color: hsla(214, 38%, 31%, 0.9);

        animation: popup 275ms ease-in-out;
      }

      &:hover::before {
        opacity: 0;
        content: "від 3999₴";
        font-weight: 700;
        display: grid;
        place-content: center;
        position: absolute;
        left: -20px;
        height: 100%;
        width: 100%;

        color: $colorWhite;
        font-size: 2rem;
        border-radius: 2rem;
        z-index: 1;

        animation: textpopup 500ms ease-in-out forwards;
      }
    }

    &--small {
      grid-area: small;
      background-image: url(../../assets/images/products/kiltse.png);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
      position: relative;

      &:hover::after {
        display: grid;
        place-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        border-radius: 2rem;
        background-color: hsla(214, 38%, 31%, 0.9);

        animation: popupSmall 275ms ease-in-out;
      }

      &:hover::before {
        opacity: 0;
        content: "від 1799₴";
        color: $colorWhite;
        font-weight: 700;
        font-size: 1.5rem;
        display: grid;
        place-content: center;
        position: absolute;
        top: -20px;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        z-index: 1;

        animation: textpopupSmall 500ms ease-in-out forwards;
      }
    }

    &--small2 {
      grid-area: small2;
      background-image: url(../../assets/images/products/progon.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;

      &:hover::after {
        display: grid;
        place-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        border-radius: 2rem;
        background-color: hsla(214, 38%, 31%, 0.9);

        animation: popup 275ms ease-in-out;
      }

      &:hover::before {
        opacity: 0;
        content: "від 1499₴";
        color: $colorWhite;
        font-weight: 700;
        font-size: 1.5rem;
        display: grid;
        place-content: center;
        position: absolute;
        left: -20px;
        height: 100%;
        width: 100%;

        border-radius: 2rem;
        z-index: 1;

        animation: textpopup 500ms ease-in-out forwards;
      }
    }
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes textpopup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes popupSmall {
  0% {
    opacity: 0;
    height: 0%;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes textpopupSmall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
