@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "./essentials/normalize";
@import "./essentials/colors";
@import "./essentials/breakpoints";

@import "../components/Hero/style";
@import "../components/About/style";
@import "../components/Products/style";
@import "../components/Product/style";
@import "../components/Contact/style";

html {
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  display: grid;
  place-content: center;
  background-color: $colorBG;

  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e1e1e1 20px
    ),
    repeating-linear-gradient(#d3d3d355, #ffffff49);
}

.app {
  max-width: 75rem;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 800px);
}

img {
  max-width: 100%;
}
