$colorBG: hsl(0, 0%, 85%);
$colorAccent: hsl(196, 42%, 54%);
$colorDark: hsl(0, 0%, 20%);
$colorWhite: hsl(0, 0%, 100%);
$colorGrey: hsl(0, 0%, 70%);
$gradientMain: 0deg, hsl(165, 72%, 40%) 0%, hsl(165, 56%, 50%) 100%;
$gradientHover: 0deg, hsl(165, 72%, 35%) 0%, hsl(165, 56%, 45%) 100%;
